.rank-pic {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.category-tag {
  margin-right: 3px;
}

.my-header {
  height: 250px;
  width: 100%;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-image: url(/images/header-bg.png);
  text-align: center;
  color: #FFF;
  text-shadow: 0 0 5px #C3A, 0 0 10px #C3A, 0 0 15px #C3A, 0 0 20px #C3A, 0 0 30px #F9C, 0 0 40px #F9C, 0 0 55px #F9C, 0 0 75px #F9C;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 72px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding-top: 50px;
}

.my-header p {
  font-size: 20px;
  text-shadow: none;
  color: white;
  font-family: Sans-serif;
  color: white;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.pad-utau-list {
  padding: 5px;
}

.utau-list {
  background-color: #EEE;
  border: solid 1px;
  border-color: white black black white;
  border-radius: 10px;
  min-height: 400px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  transition: background-color 0.1s linear;
}

.utau-list:hover {
  background-color: #F5F5F5;
  border: solid 1px;
  border-color: white black black white;
  border-radius: 10px;
  min-height: 400px;
  padding: 10px;
}

.utau-list-add {
  background-color: #888;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  color: white;
  padding-top: 170px;
  text-align: center;
  transition: background-color 0.1s linear;
}

.utau-list-add:hover {
  background-color: #999;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  color: white;
  padding-top: 170px;
  text-align: center;
}

.utau-list a {
  color: black;
}

.utau-list-icon {
  margin-top: 10px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: white;
  border-radius: 10px;
}

.utau-list button {
  margin-top: 10px;
  width: 100%;
}

.utau-profile-image {
  height: 400px;
  box-shadow: 0 0 5px #000;
  /* background-color: #EFEFEF; */
  background-color: white;
  /* transition: background-color 0.1s linear; */
  transition: height 0.1s linear;
  border-radius: 5px;
}

.utau-profile-image:hover {
  /* background-color: white; */
  background-color: #F0F0F0;
  height: 420px;
}

.text-glow {
  color: white;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
}

.row-profile {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.row-profile p {
  margin-bottom: 30px;
  border: solid grey 2px;
  border-radius: 5px;
}
