.rank-pic {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.category-tag {
  margin-right: 3px;
}

.my-header {
  height: 250px;
  width: 100%;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-image: url(/images/header-bg.png);
  text-align: center;
  color: #FFF;
  text-shadow: 0 0 5px #C3A, 0 0 10px #C3A, 0 0 15px #C3A, 0 0 20px #C3A, 0 0 30px #F9C, 0 0 40px #F9C, 0 0 55px #F9C, 0 0 75px #F9C;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 72px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding-top: 50px;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.pad-utau-list {
  padding: 5px;
}

.utau-list {
  background-color: #EEE;
  border: solid 1px;
  border-color: white black black white;
  border-radius: 10px;
  min-height: 400px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.utau-list:hover {
  background-color: #F5F5F5;
  border: solid 1px;
  border-color: white black black white;
  border-radius: 10px;
  min-height: 400px;
  padding: 10px;
}

.utau-list-add {
  background-color: #888;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  color: white;
  padding-top: 170px;
  text-align: center;
}

.utau-list-add:hover {
  background-color: #999;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  color: white;
  padding-top: 170px;
  text-align: center;
}

.utau-list a {
  color: black;
}

.utau-list-icon {
  margin-top: 10px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: white;
  border-radius: 10px;
}

.utau-list button {
  margin-top: 10px;
  width: 100%;
}
